ENV
AUTH_DB_VOL
GAME_APP_DB_VO
PONG_PROJECT_DB_VOL
JANKEN_DB_VOL
JANKEN_SECRET
HOST_IP
CONTRACT_ADDRESS
PRIVATE_KEY
PROVIDER_URL
OAUTH_CLIENT_ID
OAUTH_SECRET
OAUTH_TOKEN
OAUTH_STATE
OAUTH_REDIRECT_URI
OAUTH_APP_TOKEN_REQUEST
OAUTH_USERS_PASSWORD
OAUTH_APP_TOKEN_REQUEST
OPEN_KEY
SECRET_DJANGO_KEY
POSTGRES_USER
POSTGRES_PASSWORD
